<div class="row">
    <div class="col-md-10 col-md-offset-1 well">
        {% if not confirmed %}
            <h6>Dziękujemy za zapisanie się do newslettera.</h6>
        {% else %}
            {% if subscriberExist %}
                <button data-request="onUnsubscribe"
                        data-trigger-type="enable"
                        data-trigger-action="enable"
                        onclick="$(this).data('request-data', { 'mail' : '{{mail}}', 'token' : '{{ token }}' })"
                        data-request-success="unsubscribe(data)">
                    Wypisz się
                </button>
                <div class="col-md-12 input-group" id="notifications">
                    <div class="alert alert-success collapse" id="success" role="alert">Usunięto.</div>
                    <div class="alert alert-warning collapse" id="taken" role="alert">Ups!</div>
                    <div class="alert alert-danger collapse" id="failed" role="alert">Czy nie usunąłeś już maila?</div>
                </div>
            {% else %}
                <h6>Niepoprawna ścieżka subskrybenta</h6>
            {% endif %}
        {% endif %}
    </div>
</div>
