<form data-request="onSubscription" data-request-success="subscribtionStatus(data)" id="subscribe">
    <div class="input-group">
        <input type="text" name="email" class="no-auto-focus" placeholder="Email" required>
        <span class="input-group-btn">
            <input type="submit" class="btn" value="Subskrybuj">
        </span>
    </div>

    <div class="col-md-1">
        <input type="checkbox" name="formCheck[]" value="rp" required>
    </div>
    <div class="col-md-11 text-left">
        <small>{% content 'regulacje-prawne.txt' %}</small>
    </div>

    <div class="col-md-1">
        <input type="checkbox" name="formCheck[]" value="pd">
    </div>
    <div class="col-md-11 text-left">
        <small>{% content 'przetwarzanie-danych.txt' %}</small>
    </div>

    <div class="col-md-12 input-group" id="notifications">
        <div class="alert alert-success collapse" id="success" role="alert">Dziękujemy za zapisanie się do newslettera!</div>
        <div class="alert alert-warning collapse" id="taken" role="alert">Ups! Twój email znajduje się w naszej bazie.</div>
        <div class="alert alert-danger collapse" id="failed" role="alert">Błąd. Coś poszło nie tak.</div>
    </div>
</form>
