{% set viewPath = __SELF__ ~ "::" %}
{% if __SELF__.customViewPath %}
    {% set viewPath = __SELF__.customViewPath ~ "/" %}
{% endif %}
<form data-request="{{ __SELF__ }}::onSubscription" id="{{ __SELF__ }}-subscribe">
    {% for attribute,inputDef in __SELF__.selectedInputs %}
        {% partial viewPath ~ 'input_' ~ inputDef.type attribute=attribute label=inputDef.label input_placeholder=inputDef.input_placeholder %}
    {% endfor %}
    {% for checkbox in __SELF__.checkboxes %}
        <div class="form-group">
            <input type="checkbox" name="{{ checkbox.slug }}" id="{{ __SELF__ }}-checkbox-{{ checkbox.slug }}" class="form-control-check"{{ (checkbox.required) ? ' required' : ''}}>
            <label for="{{ __SELF__ }}-checkbox-{{ checkbox.slug }}">{{ checkbox.text|raw }}</label>
        </div>
    {% endfor %}

    <button id="{{ __SELF__.getRef() }}-submit-button" type="submit" class="btn btn-primary">{{ __SELF__.buttonText|trans }}</button>
</form>

<div class="col-md-12 input-group" id="{{ __SELF__ }}-notifications">
    <div class="alert alert-success collapse" id="{{ __SELF__ }}-success" role="alert">
        <span id="{{ __SELF__ }}-successMsg">
        </span>
    </div>
    <div class="alert alert-danger collapse" id="{{ __SELF__ }}-failed" role="alert">
        <span id="{{ __SELF__ }}-errorMsg">
        </span>
    </div>
</div>

{% put scripts %}
    <script>
        $('#{{ __SELF__ }}-subscribe').on('ajaxSuccess', function(event, context, data) {
            $('#{{ __SELF__}}-successMsg').text(data.content);
            $('#{{ __SELF__}}-successMsg').parent().show().delay(2000).fadeOut(500);
        })

        $('#{{ __SELF__ }}-subscribe').on('ajaxError', function(event, context, error) {
            let errorMessage = error.X_OCTOBER_ERROR_MESSAGE;
            if (!errorMessage) {
                errorMessage = error;
            }
            $('#{{ __SELF__ }}-errorMsg').text(errorMessage);
            $('#{{ __SELF__ }}-errorMsg').parent().show().delay(2000).fadeOut(500);
            event.preventDefault();
        })
    </script>
{% endput %}
