
<form data-request="onSubscription" data-request-success="subscribtionStatus(data)" id="subscribe">
    <div class="form-group">
        <label for = "email" >{{'initbiz.newsletter::lang.form.label_email'|_}}</label>
        <input type="email"  name="email" id="email" class="form-control" placeholder = "{{'initbiz.newsletter::lang.form.placeholder_email'}}">
    </div>

    {% for checkbox in checkboxes %}
        <div class="form-group">
            <input type="checkbox" name="{{checkbox.name}}" id="checkbox-{{checkbox.name}}" class="form-control-check" {{ (checkbox.required) ? 'required':''}}>
            <label for="checkbox-{{checkbox.name}}">{{ checkbox.text | raw }}</label>
        </div>
    {% endfor %}

      <button type="submit" class="btn btn-primary">{{'initbiz.newsletter::lang.form.submit_button'}}</button>
</form>
