{% put scripts %}
<script src="https://www.google.com/recaptcha/api.js?render={{ __SELF__ .recaptchaSiteKey }}"></script>

<script>
    document.querySelectorAll('#{{ __SELF__ }}-subscribe .btn-secondary, #{{ __SELF__ }}-subscribe .btn-primary, #{{ __SELF__ }}subscribe .btn-secondary').forEach(function (button) {
        button.addEventListener('click', function (e) {
            e.preventDefault();

            grecaptcha.execute('{{ __SELF__.recaptchaSiteKey }}', { action: 'register' }).then(function (token) {
                oc.request('#{{ __SELF__ }}-subscribe', '{{ __SELF__ }}::onSubscription', {
                    data: { 'g-recaptcha-response': token }
                });
            });
        });
    });
</script>
{% endput %}